<%# 参数表
    is_first: bool // 是否为第一篇文章
    article: object // 文章对象(其实就是post对象)
    bg?: string // 背景图
%> 


<% let moreClass = '' %>
<% if (is_first) { moreClass += 'content-card-head' } %>

<% if(bg!=null) { %>
    <!-- Summary Backgournd -->
    <% moreClass += ' article-preview-bg' %>
    <% moreClass += ' article-preview-bg-' + article.date %>
    <style type="text/css">
        .article-preview-bg-<%- article.date %>:before {
            background-image: url(<%- bg %>);
        }
    </style>
<% } %>

<a class="card shadow content-card list-card content-article-preview <%- moreClass %>" href="<%- article.permalink %>">
    <object class="section">
        <div class="container">
            <div class="content list-card-content">
                <h2><%= article.title %></h2>
                <div class="list-object">
                    <span class="list-tag"><i class="fa fa-calendar-o" aria-hidden="true"></i> <time datetime="<%- article.date.format() %>"><%- date(article.date, 'YYYY-MM-DD') %></time></span>
                    <!-- <span class="list-tag"><i class="fa fa-comments-o" aria-hidden="true"></i> <span class="april-comment-count" pathname="<%- '/'+article.path %>">xx</span> 条评论</span> -->
                    <%- partial('includes/widget/categories', {showicon: true}) %>
                    <%- partial('includes/widget/tags', {showicon: true}) %>
                    <!-- <span class="list-tag"><i class="fa fa-user-o" aria-hidden="true"></i> <a class="badge badge-warning badge-pill" href="<%- article.permalink %>"><%- config.author %></a></span> -->
                </div>

                <section class="article-summary-container" onclick="location.href='<%- article.permalink %>'">
                    <div class="the-article-summary">
                        <%- article.excerpt %>
                    </div>

                    <div class="btn-to-read">
                        <div class="content" style="margin: 0px"><p style="margin: 0px">...</p></div>

                        <button class="btn btn-icon btn-3 btn-outline-primary" type="button" style="padding: .325rem .625rem;">
                            <span class="btn-inner--icon"><i class="fa fa-play" aria-hidden="true"></i></span>
                            <span class="btn-inner--text">阅读</span>
                        </button>
                    </div>
                    
                </section>
            </div>
        </div>
    </object>
</a>